# create a copy of this file and rename it to .env, then fill out below fields

DISCORD_BOT_TOKEN=insert_your_discord_bot_token
DISCORD_CLIENT_ID=insert_application_id
DISCORD_GUILD_ID=insert_guild_id
RESEND_API_KEY=insert_your_resend_api_key
